<!DOCTYPE html>
<html lang="en" class="h-full dark dark:bg-gray-900">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="icon" type="image/png" href="/assets/favicon.ico" />
    <title>DataLine - Chat with your Data</title>

    <!-- Generic meta tags, SEO -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <meta name="title" content="DataLine - Chat with your Data" />
    <meta name="description" content="Chat with your data - AI-driven data analysis and visualization tool." />

    <!-- Generic social media -->
    <meta property="og:title" content="DataLine - Chat with your Data" />
    <meta property="og:description" content="Chat with your data - AI-driven data analysis and visualization tool." />
    <meta property="og:url" content="https://www.dataline.app" />
    <meta property="og:image" content="https://www.dataline.app/og_card.png" />
    <meta property="og:site_name" content="DataLine">


    <!-- Twitter -->
    <meta name="twitter:site" content="@iamramiawar">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="DataLine - Chat with your data" />
    <meta name="twitter:description" content="Your data just learned to talk. What do you wanna know?" />
    <meta name="twitter:image" content="https://www.dataline.app/og_card.png" />
    <meta name="twitter:image:alt" content="DataLine typed on a blurred background">


</head>

<body class="dark:bg-gray-900">
    <div id="root" class=""></div>
    <link rel="stylesheet" href="/{{VITE_MANIFEST_CSS}}" />
    <script type="module" src="/{{ VITE_MANIFEST_JS }}"></script>
</body>

</html>
